.imagem-mini {
    width: 3%;
    margin: 0 1em;
    vertical-align: middle;
}

.imagem-mini-answer {
    width: 2%;
    margin: 0 .5em;
    vertical-align: middle;
}

.card-header {
  display: inline-block;
}

.imagem-logo {
    display: inline-block;
    float: right;
    width: 15%;
}

.answer-title {
    display: inline;
    font-size: 1.5em;
    margin-left: 1em;
    vertical-align: middle;
}

.div-questions {
    margin: 2em 1em;
}

.title-report {
    text-align: center; 
    font-size: 3em; 
    margin: 1em auto;
}