<div class="report-body">
<h1 class="title-report">Agile Team Poker</h1>
<br/>
<h1>{{roomInformations.name}}</h1>
<div class="general-infos">
    <img src="assets/images/logos/DBC-logo-01-black.png" class="imagem-logo">
    <p>Facilitador: {{roomInformations.scrumMaster}}</p>
    <p *ngIf="roomInformations.finishDate != null">Data: {{roomInformations.finishDate}}</p>
    <p><a href="https://www.dbccompany.com.br/">dbccompany.com.br</a></p>
</div>
<hr style="width: 100%;">
<div class="questions">
    <div *ngFor="let question of roomInformations.questions; let index = index; let last = last;">
        <h2 class="question-title">{{question.code}}. {{question.name}}</h2> 
        <div class="question-consensus" *ngIf="consensusEmotion.has(question.code)" style="text-align: center;">
            <img src="assets/images/cards/{{consensusEmotion.get(question.code)}}.png" class="imagem-mini"> 
            <img src="assets/images/cards/{{consensusIsGoing.get(question.code)}}.png" class="imagem-mini"> 
            <img src="assets/images/cards/erro.png" class="imagem-mini" *ngIf="atentionPoint.has(question.code)"> 
        </div>
        <div class="div-questions" *ngIf="question.answers != null">
            <h3>Respostas</h3>
            <div *ngFor="let answer of question.answers; let index = index; let last = last;">
                <h3 class="answer-title">{{answer.player}}:</h3>
                <img src="assets/images/cards/{{answer.isGoing}}.png" class="imagem-mini-answer"> 
                <img src="assets/images/cards/{{answer.emotion}}.png" class="imagem-mini-answer">
            </div>
        </div>
    </div>
</div>
</div>
