.externa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imagem {
  width: 50%;
}

.example-full-width{
  display: block;
}

:host ::ng-deep .mat-step-label {   display: none; }

.title-question {
  font-size: 29px;
  font-weight: lighter;
  display: inline-block;
  font-family:'Open Sans', sans-serif;
  margin:0;
  margin-right: .5em;
}

.question-structure {
  text-align: center;
}

.card {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  width: 20em;
}

.card-element {
  display: inline-block;
}

.imagem-mini {
  width: 15%;
  margin: 0 1em;
}

.card-header {
  font-size: 2em; 
  line-height: initial;
  margin: .5em;
}

.rooms-info {
  margin-bottom: 0;
}

::ng-deep .test {
  white-space: pre-line;
}

::ng-deep .allow-cr {
  white-space: pre;
}

.consensus-info {
  display: inline; 
  margin: 1em;
}

.icon-button {
  width: 60%;
  padding: 5px 0;
}

.button-icon {
  width: 1em;
}