<div *ngIf="!showReport">
  <div class="container" *ngIf="!showMediatorScreen">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="externa">
          <img src="assets/images/decoration/logo05.jpg">
        </div>
        <form>
          <mat-form-field class="example-full-width">
            <mat-label>Nome da sala</mat-label>
            <input matInput placeholder="Ex. Retrospectiva Time X - Retro 02" [(ngModel)]="room.name" name="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Nome do Scrum Master</mat-label>
            <input matInput placeholder="Ex. Master System" [(ngModel)]="room.scrumMaster" name="scrumMaster">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Jogadores</mat-label>
            <input matInput placeholder="Nomes separados por virgula." [(ngModel)]="room.players" name="players">
          </mat-form-field>
          <button mat-flat-button color="primary" style="float: right;"
            (click)="createRoom();">Criar sala</button>
        </form>
      </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Por favor, aguarde.</p>  
    </ngx-spinner>   
  </div>
  <div *ngIf="showMediatorScreen">
    <div style="margin-top: 3em;">
      <button mat-flat-button color="primary" (click)="saveRoom()" style="float: right; margin: 0 .5em;"
        *ngIf="returnRoom.finishDate == null" class="button-icon">
        <img src="assets/images/decoration/refresh.png" class="icon-button" matTooltip="Atualizar respostas">
      </button>
      <button mat-flat-button color="primary" (click)="generateReport()" style="float: right; margin: 0 .5em;"
              class="button-icon">
              <img src="assets/images/decoration/report.png" class="icon-button" matTooltip="Gerar relatório">
      </button>
      <!-- <button mat-flat-button color="primary" (click)="saveRoom()" style="float: right; margin: 0 .5em;"
            *ngIf="returnRoom.finishDate == null" class="button-icon">
            <img src="assets/images/decoration/save.png" class="icon-button" matTooltip="Salvar alterações da sala">
      </button> -->
      <button mat-flat-button color="primary" (click)="copyLinkRoom()" style="float: right; margin: 0 .5em;"
            *ngIf="returnRoom.finishDate == null" class="button-icon">
            <img src="assets/images/decoration/copy.png" class="icon-button" matTooltip="Copiar link da sala">
      </button>
      <button mat-fab matTooltip="Nome da sala: {{ returnRoom.name }} &#13; Nome do Scrum Master: {{ returnRoom.scrumMaster }} &#13; Jogadores permitidos: {{ returnRoom.players == null ? 'Sala livre' : returnRoom.players }}" 
              color="primary" matTooltipClass="allow-cr" >
        ?
      </button>
      <p class="consensus-info">Ainda falta selecionar {{consensusSelected}} consensos</p>
    </div>

    <div class="question-structure">
      <br><br>
      <mat-horizontal-stepper>
        <mat-step *ngFor="let question of returnRoom.questions; let index = index; let last = last;">
          <div style="margin: 3em;">
            <h2 class="title-question">{{question.code}}. {{question.name}}</h2>
            <img src="assets/images/decoration/unlock.png" *ngIf="question.release" style="width: 2.5%; vertical-align: top;" matTooltip="Pergunta liberada">
            <button mat-raised-button color="primary"
              (click)="releaseThisQuestion(question.code); submitButton.disabled = true" #submitButton style="vertical-align: bottom;"
              *ngIf="returnRoom.finishDate == null && !question.release" [disabled]="question.release">Liberar</button>
            <div style="margin-top: 10px;">
            <button mat-flat-button color="primary" style="margin: 0 0 0 1em;" (click)="finishRetrospective()"
              *ngIf="question.code == returnRoom.questions.length && returnRoom.finishDate == null">Encerrar retrospectiva e salvar</button>
            <div>
              <h2 style="margin-top: 2em; font-size: 2em; display: inline-block;" *ngIf="question.answers != null">Selecione o concenso do time</h2>
            
              <button mat-flat-button color="primary" (click)="submitButton = !submitButton"  style="margin: 0 1em;"
                    *ngIf="returnRoom.finishDate == null && question.answers != null" class="button-icon">
                    <img src="assets/images/decoration/view.png" class="icon-button" matTooltip="Esconder ou mostrar respostas">
              </button>
            </div>

            <div class="card" *ngFor="let answer of question.answers; let index=index">
              <div class="" (click)="selectConsensus(answer, question.code)" style="border-radius: 1em;"
                [ngStyle]="{'border': (answer.consensus) ? '1px solid black' : ''}">
                <div class="card-header">
                  {{answer.player}}
                </div>
                <div [hidden]="submitButton">
                  <img src="assets/images/cards/{{answer.emotion}}.png" class="imagem-mini">
                  <img src="assets/images/cards/{{answer.isGoing}}.png" class="imagem-mini">
                </div>
              </div>
            </div>
          </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>

<app-report *ngIf="showReport" [roomInformations]="returnRoom"></app-report>