<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="DBCCompany Logo"
    src="assets/images/logos/DBC-logo-01.png"
  />
  <span onClick="window.location.replace('/');" style="cursor: pointer;">Agile Team Poker - DBCCompany</span>
    <div class="spacer"></div>
    <a aria-label="Site da DBCCompany" target="_blank" rel="noopener" href="https://www.dbccompany.com.br/" title="Site">
      <span style="margin: 0 22px;">Site</span>
    </a>
</div>

<div class="content" role="main">

  <app-home *ngIf="showHomeInfos" (showHomeInfos)="changedHomeInfos($event)"></app-home>
  <app-play *ngIf="showPlayScreen"></app-play>
  <app-room *ngIf="showRoomScreen"></app-room>