:host ::ng-deep .mat-step-label {   display: none; }

:host ::ng-deep  .mat-horizontal-stepper-header-container {
    display: none;
}

.externa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagem {
    width: 50%;
}

.example-full-width{
    display: block;
}

.question-structure {
    text-align: center;
  }

.title-question {
    font-size: 29px;
    font-weight: lighter;
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    margin:0;
    margin-right: 42px;
  }
  
  .question-structure {
    text-align: center;
  }

  .card {
    width: 20%;
    display: inline-block;
    padding: 15px;
    margin-top: 10px;
  }

  .card-selected {
    border: 3px solid black;
    border-radius: 1em;
  }

  .imagem-mini {
    width: 3%;
    margin: 0 1em;
  }
  