<div class="container" *ngIf="!showPlayerScreen">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="externa">
                <img src="assets/images/decoration/logo01.png" class="imagem">
            </div>
            <form (ngSubmit)="createPlayer()">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome do jogador</mat-label>
                    <input matInput placeholder="Ex. PizzaGirl" [(ngModel)]="player.name" name="name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nome da sala</mat-label>
                    <input matInput placeholder="Esta sala já deve ter sido criada" [(ngModel)]="player.room"
                        name="room">
                </mat-form-field>

                <button mat-flat-button color="primary" style="float: right;" type="submit">Começar</button>
            </form>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Por favor, aguarde.</p>
    </ngx-spinner>
</div>

<div *ngIf="showPlayerScreen">
    <div class="question-structure">
        <br><br>
        <mat-horizontal-stepper>
            <mat-step *ngFor="let question of returnRoom.questions; let index = index; let last = last;">
                <h2 class="title-question">{{question.code}}. {{question.name}}</h2>
                <div>
                </div>
                <div style="min-height: 2.5em;">
                    <div *ngIf="question.answers != null" style="margin-top: 10px;">
                        Minha última resposta: 
                        <img src="assets/images/cards/{{question.answers[0].emotion}}.png" class="imagem-mini">
                        <img src="assets/images/cards/{{question.answers[0].isGoing}}.png" class="imagem-mini">
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <div (click)="selectCardEmotion('HAPPY', question.code)" [ngClass]="[cardEmotionHappy]"
                            class="card">
                            <img src="assets/images/cards/robot-happy.png" class="imagem" mat-fab
                                matTooltip="Hoje me sinto confortável sobre isso">
                        </div>
                        <div (click)="selectCardIsGoing('UP', question.code)" [ngClass]="[cardIsGoingUp]" class="card">
                            <img src="assets/images/cards/arrow-up.png" class="imagem" mat-fab
                                matTooltip="Está melhorando">
                        </div>
                    </div>
                    <div>
                        <div (click)="selectCardEmotion('OK', question.code)" [ngClass]="[cardEmotionOk]" class="card">
                            <img src="assets/images/cards/robot-medium.png" class="imagem" mat-fab
                                matTooltip="Sinto que este tema está estagnado no time">
                        </div>
                        <div (click)="selectCardIsGoing('MEDIUM', question.code)" [ngClass]="[cardIsGoingMedium]"
                            class="card">
                            <img src="assets/images/cards/arrow-medium.png" class="imagem" mat-fab
                                matTooltip="Não vejo nenhum avanço ou retrocesso sobre isso">
                        </div>

                    </div>
                    <div>
                        <div (click)="selectCardEmotion('BAD', question.code)" [ngClass]="[cardEmotionBad]"
                            class="card">
                            <img src="assets/images/cards/robot-sad.png" class="imagem" mat-fab
                                matTooltip="Sinto que este tema está ruim">
                        </div>
                        <div (click)="selectCardIsGoing('DOWN', question.code)" [ngClass]="[cardIsGoingDown]"
                            class="card">
                            <img src="assets/images/cards/arrow-down.png" class="imagem" mat-fab
                                matTooltip="As coisas estão piorando">
                        </div>
                    </div>
                </div>

                <button mat-flat-button color="primary" *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)" style="margin: 15px 5px;"> < </button>
                <!-- <button mat-flat-button color="primary" (click)="addAnswer()" style="margin: 15px 5px;">Enviar Resposta</button> -->
                <button mat-flat-button color="primary" *ngIf="!last" matStepperNext class="btn btn-primary"
                    type="button" [disabled]="!stepIsValid()" (click)="nextStep(index)" style="margin: 15px 5px;">
                    Próxima pergunta</button>

            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>