<div class="content" role="main">
<div class="card highlight-card card-small">
    <a aria-label="Aprenda a jogar" target="_blank" rel="noopener"
        href="https://www.dbccompany.com.br/agile-team-poker-dbc-um-assessment-para-times-ageis/" title="Site"
        style="color: white;">
        <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
            viewBox="0 0 101.678 101.678">
            <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
                <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839"
                    transform="translate(141 696)" fill="#dd0031" />
                <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
                    <path id="Path_33" data-name="Path 33"
                        d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
                        transform="translate(0.371 3.363)" fill="#fff" />
                    <path id="Path_34" data-name="Path 34"
                        d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
                        transform="translate(0 0.005)" fill="#fff" />
                </g>
            </g>
        </svg>

        <span>Aprenda a jogar aqui!</span>
    </a>
</div>

<div class="container">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="externa">
                <div class="card-external" (click)="changeToRoomComponent()">
                    <img src="assets/images/decoration/grupo.png" class="card-img">
                    <div class="container">
                        <h4><b>Gerenciar retrospectiva</b></h4>
                    </div>
                </div>
                <div class="card-external" (click)="changeToPlayComponent()">
                    <img src="assets/images/decoration/pessoa.png" class="card-img">
                    <div class="container">
                        <h4><b>Jogar</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>